{% extends 'base.html' %}
{% block title %}Ques Edit{% endblock title %}

{% block style %}

.django-form ul{
  margin: 2%;

}

.django-form li{
  margin: 2%;

}

{% endblock style %}

{% block body %}

<main class='container'>
    <div class="py-5 text-center">
      <h2 class="lead">Add a New Question to </h2>
      {% if QP %}
      <strong><h3> {{QP.subject}} {{QP.num}} </h3></strong>
      {% endif %}
    </div>
    <form class="needs-validation container fluid mx-5" novalidate method="post" enctype="multipart/form-data">
      {% csrf_token %}
          <div class='django-form' style="justify-content: space-around;">  {{form.as_ul}} </div>
            <br><hr><br>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Add Next Ques</button>
            <a class="w-100 my-5 btn btn-danger btn-lg" href="/">Go to Home</a>
          </form>

          {% if form.errors %}
          <h5> {{form.errors}} </h5>
          {% endif %}

        </div>
      </div>
    </main>

{% endblock body %}

